.buttonSaves {
  padding: 12px 30px;
  color: white;
  background-color: #4dba4d;
  border: none;
  margin-top: 20px;
  width: 100%;
}
.eyeinput {
  position: relative;
  .eyeDivs {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
