.sidebar_wrapper {
  border-radius: 6px;
  background: #4dba4d;
  padding: 25px 12px 25px 12px;
  cursor: pointer;
  .head_div {
    margin-bottom: 20px;
    h2 {
      color: #fff;
      font-size: 21px;
      font-weight: 600;
      line-height: 30.5px;
      letter-spacing: 0.46px;
      display: flex;
      gap: 8px;
      margin: 0px;
      padding-left: 8px;
    }
    p {
      color: #fff;
      font-size: 13px;
      font-weight: 300;
      line-height: 33.5px;
      letter-spacing: 0.28px;
      padding-left: 8px;
    }
  }
  .dashparts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 15px 15px;
    .iconsvg_div {
      width: 26px;
    }
    .dashparts_div {
      display: flex;
      align-items: center;
      gap: 15px;
      span {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
      }
    }
  }

  .dashboardTabActive {
    border-radius: 6px;
    background: #0b1f14;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 15px 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    .iconsvg_div {
      width: 26px;
    }
    .dashparts_div {
      align-items: center;
      display: flex;
      gap: 15px;
      span {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}
