@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

.forgot_wrapper {
  display: flex;
  justify-content: center;
  padding: 80px 0px;

  .main_div {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 35%;
    background: #fff;
    padding: 30px 30px;
    @media (max-width: 991px) {
      width: 70%;
    }
    @media (max-width: 481px) {
      width: 95%;
      padding: 20px 10px;
    }
    h4 {
      text-align: center;
      margin: 30px 0px 50px 0px;
      color: #000;
      font-family: "Montserrat", sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.9px;
      text-transform: capitalize;

      @media (max-width: 481px) {
        font-size: 25px;
      }
    }

    .long_input_divs {
      margin-bottom: 20px;

      .label_div2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        label {
          color: #3c4242;
          font-size: 14px;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.28px;
          margin-bottom: 10px;
        }
        .inputmain {
          border-radius: 6px;
          border: 1px solid #ececec;
          background: #f6f6f6;
          padding: 15px;
          outline: none;
          margin-bottom: 10px;
          &::placeholder {
            color: #3c4242;
            font-size: 12px;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 0.24px;
          }
        }
        .errorInputMain {
          border-radius: 6px;
          border: 1px solid #ececec;
          background: #f6f6f6;
          padding: 15px;
          outline: red;
          margin-bottom: 10px;
          border: 1px solid red;
          &::placeholder {
            color: red;
            font-size: 12px;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 0.24px;
          }
        }
        .eyeSpan {
          position: absolute;
          right: 20px;
          top: 45px;
        }
      }
    }

    .btn_of_otp {
      width: 100%;
      margin: 15px 0px;
      padding: 10px;
      border-radius: 5px;
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      background-color: #4dba4d;
      border: none;
      @media (max-width: 481px) {
        font-size: 16px;
      }
    }
  }
}
